.upper{
    height: 150px;
    width: 650px;
    background-color:rgb(255, 255, 0);
    border: 2px solid   black;
    position: absolute;
    left: 300px;
    top: 70px;

}
.a{
    background-color:red
    );
}
.b{
    height: 200px;
width: 650px;
background-color: rgb(0, 234, 0);
position:absolute;
top: 150px;
}
.c{
    height:200px;
    width: 1000px;
    background-color: red(0, 270, 0);
    position:absolute;
    top: 300px;

}
